.src {
    background: #eeeeee;
    color: #000000;
    border: solid 1px !important;
    padding: 10px !important;
}

.example {
    background: #111111;
    color: #ffffff;
    border: solid 1px !important;
    padding: 20px !important;
    overflow: auto;
}
h1 {font-size: 3em !important;}
h2 {font-size: 2em !important;}
code {
    font-size: 0.9em !important;
    background: #eeeeee;
    color:#000000;
    padding: 0px 5px 5px 5px !important;
}