.src {
    background: #333333;
    border: solid 1px !important;
    padding: 20px !important;
}

.example {
    background: #111111;
    border: solid 1px !important;
    padding: 20px !important;
}