.src {
    background: #eeeeee;
    color: #000;
    border: solid 1px !important;
    padding: 20px !important;
}

.example {
    background: #111111;
    color: #ffffff;
    border: solid 1px !important;
    padding: 20px !important;
}

.figure p img{
    background: #ffffff;
}

h1 {font-size: 3em !important;}
h2 {font-size: 2em !important;}